body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
  }

  .timer-box {
    position: fixed;
    padding: 30px 30px 40px 40px;
    border-radius: 12px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: #020617;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
  }

  .date {
    font-size: 1.1rem;
    margin-bottom: 10px;
    opacity: 0.85;
  }

  .countdown {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
  }

  button {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #38bdf8;
    color: #020617;
    display: none;
  }

  button:hover {
    background: #0ea5e9;
  }
  
  
  h2 h5 span {
    position: fixed;
  }
  
  
  
  
  
  
.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  
  z-index: -99;

  height: 50px;           /* fixed size */
  padding: 0 20px;        /* inner spacing only */

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #111;
  color: #f1f1f1;
  font-size: 14px;
  box-sizing: border-box;
}

.site-footer .creator {
  font-weight: 500;
}

.site-footer .industry {
  opacity: 0.8;
}

a {
  text-decoration: none;
}

.colored-text {
  color: #ff0000;
}
